@font-face {
  font-family: "Roboto-Black";
  src: url('~@scss/abstracts/fonts/Roboto-Black.ttf');
}

@font-face {
  font-family: "Roboto-BlackItalic";
  src: url('~@scss/abstracts/fonts/Roboto-BlackItalic.ttf');
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('~@scss/abstracts/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: "Roboto-BoldItalic";
  src: url('~@scss/abstracts/fonts/Roboto-BoldItalic.ttf');
}

@font-face {
  font-family: "Roboto-Light";
  src: url('~@scss/abstracts/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: "Roboto-LightItalic";
  src: url('~@scss/abstracts/fonts/Roboto-LightItalic.ttf');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url('~@scss/abstracts/fonts/Roboto-Medium.ttf') format('ttf');
}

@font-face {
  font-family: "Roboto-MediumItalic";
  src: url('~@scss/abstracts/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
  font-family: "Roboto-Regular";
  src: url('~@scss/abstracts/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "Roboto-RegularItalic";
  src: url('~@scss/abstracts/fonts/Roboto-RegularItalic.ttf');
}

@font-face {
  font-family: "Roboto-Thin";
  src: url('~@scss/abstracts/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: "Roboto-ThinItalic";
  src: url('~@scss/abstracts/fonts/Roboto-ThinItalic.ttf');
}
